<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	   		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
			http://www.springframework.org/schema/security 
			http://www.springframework.org/schema/security/spring-security-3.1.xsd">

	<security:http auto-config="true" use-expressions="true" access-denied-page="/krams/auth/denied" >
	
		<security:intercept-url pattern="/rest/login" access="permitAll"/>
		<security:intercept-url pattern="/rest/auth/*" access="permitAll"/>
		<security:intercept-url pattern="/rest/admin/*" access="hasRole('ROLE_ADMIN')"/>
		<security:intercept-url pattern="/rest/pages/*" access="hasRole('ROLE_USER')"/>
		<security:intercept-url pattern="/rest/home" access="hasRole('ROLE_USER')"/>
		<security:form-login
				login-page="/rest/login" 
				authentication-failure-url="/rest/loginerror" 
				default-target-url="/rest/user"/>
			
		<security:logout 
				invalidate-session="true" 
				logout-success-url="/rest/login" 
				logout-url="/rest/logout" />
	
	</security:http>
	
	
	<security:authentication-manager>
	        <security:authentication-provider user-service-ref="userDetailsService">
	        		<!-- <security:password-encoder ref="passwordEncoder"/> -->
	        </security:authentication-provider>
	</security:authentication-manager>
	
	
	<bean class="org.springframework.security.authentication.encoding.Md5PasswordEncoder" id="passwordEncoder"/>

	 <security:user-service id="userDetailsService">
	    <security:user name="sankar" password="sankar" authorities="ROLE_USER, ROLE_ADMIN" />
	    <security:user name="jane" password="ee11cbb19052e40b07aac0ca060c23ee" authorities="ROLE_USER" />
	  </security:user-service>
	
</beans>